.sushi {
  min-width: 13rem;
  max-width: 17rem;
  background: #161515;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .sushiImage{
    margin-top: -16px;
    width: 100%;
    min-height: 11rem;
    max-height: 15rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  }
.sushiName {
  height: 29px;
  font-family: 'Jost';
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
  padding-left: 8px;
  text-align: initial;
}
.price {
font-family: 'Jost';
font-weight: 600;
font-size: 22px;
line-height: 29px;
color: #FF0014;
}
.priceBox{
  display: flex;
  justify-content: space-between;
  padding: 0 8px 8px 8px;;
}
.add{
  width: 2.2rem;
  height: 2.2rem;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 60%;
  }
}